.active{
    text-decoration: line-through;
}
.list-Job{
    height: 300px;
    overflow: hidden;
}
.job-group{
    border: 1px solid;
    border-radius: 5px;
}
.job-group h4 {
    margin-left: 20px;
}
.job-group div button {
    border: none;
    background-color: #fff;
    font-size: 20px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}