.active{
    text-decoration: line-through;
}
.list-Job{
    height: 200px;
    overflow-y: scroll;
}
.list-Job::-webkit-scrollbar{
    /* display: none; */
}
.job-group{
    border: 1px solid;
    border-radius: 5px;
}
.job-group h4 {
    margin-left: 20px;
}
.job-group div button {
    border: none;
    background-color: #fff;
    font-size: 20px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn-active{
    background-color: #44545c !important;
    color: #fff !important;
}
.btn-page{
    border: 1px solid #44545c !important;
    margin: 0 5px;
}